<div class="jumbotron">
  <h1 class="display-4">Is it Trash?!?</h1>
  <p class="lead">You know what they say, one man's trash is another man's treasure.  We provide the first ever monthly subscription box that provides organic, locally sourced, landfill-to-table trash straight to your door! </p>
  <hr class="my-4">
  <p>All prices reflect the cost of a 6-month subscription (1 specially packaged trash delivery per month).</p>
  
</div>


<%= render 'productloop' %>


